DATABASE_URL=postgresql://postgres:password@localhost:5432/secure_payments_demo

BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=

PRO_MONTHLY_PRODUCT_ID=
PRO_ANNUALLY_PRODUCT_ID=
CAREER_MONTHLY_PRODUCT_ID=
CAREER_ANNUALLY_PRODUCT_ID=